<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll Admin</title>
    <% include ./partials/_head.ejs %>
  </head>
  <header>
    <% include ./partials/_nav.ejs %>
    <script type="text/javascript" src="/scripts/admin.js"></script>
  </header>

  <body>
    <div class="jumbotron" style="margin:5%; text-align: center; display:flex; flex-direction:column">

    <% if (!loggedIn) { %>

      <form class="form-signin" action="/polls/<%= responses[0].randomURL %>/login?_method=PUT" method="POST" style="margin-left: 35%; margin-right: 35%">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input style="margin-bottom: 1rem" type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
        <label for="inputName" class="sr-only">Name</label>
        <input style="margin-bottom: 1rem" type="text" id="inputName" class="form-control" name="name" placeholder="Name" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="signIn">Sign in</button>
      </form>

    <% } else { %>

      <h2>Poll Admin Page</h2>
      <p>Your question was: <strong><%= responses[0].text %></strong></p>
    
      <div style="background-color: white; text-align: center; border-radius: 1rem">
        <p style="padding-top:1rem">Participant Link: <a href="/polls/<%= responses[0].randomURL %>/votes">www.myawesomefakedomain.com/polls/<%= responses[0].randomURL %>/votes</a></p>
        <p>Administration Link: <a href="/polls/<%= responses[0].randomURL %>/admin">www.myawesomefakedomain.com/polls/<%= responses[0].randomURL %>/admin</a></p>
      </div>

      <div style="padding-top:1rem">
        <p>You created this poll on: <%= responses[0].date_created.toDateString() %></p>
        <p>It will end on: <%= responses[0].end_date.toDateString() %></p>
      </div>
      
        <p>The answers below are ordered by their current ranking, based on the votes of all participants in this poll.</p>  
        <table class="table">
          <tr>
            <td>Current Ranking</td>
            <td>Response Text</td>
            <td>Response Description (if any) </td>
          </tr>
        <% let count = 1; %>    
        <% responses.forEach(response => { %>
          <tr>
            <td><%= count %></td>
            <td><%= response.response_text %></td>
            <td>
              <% if(response.description !== "") {%>
              <%= responses[0].creator_name %> described this as: <%= response.description %>
              <% } %>
            </td>
            <% count++; %>
          </tr>
        <% }) %>
        </table>
        <button id="deleteButton" class="btn btn-primary btn-danger" randomURL="<%= responses[0].randomURL %>"> Delete This Poll </button>
    <% } %>  
    </div>
  </body>
</html>
