<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll Admin</title>
    <% include ./partials/_head.ejs %>
  </head>
  <header>
    <% include ./partials/_nav.ejs %>
    <script type="text/javascript" src="/scripts/newFields.js"></script>
    <script type="text/javascript" src="/scripts/updatePoll.js"></script>
  </header>

  <body>
    <div class="jumbotron" style="margin:5%; text-align: center; display:flex; flex-direction:column">
    <% if (!loggedIn) { %>
      <form class="form-signin" action="/polls/<%= responses[0].randomURL %>/login?_method=PUT" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" id="inputName" class="form-control" name="name" placeholder="Name" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="signIn">Sign in</button>
      </form>

    <% } else { %>

      <h2>Poll Admin Page</h2>
      <p>Your question was: <strong><%= responses[0].text %></strong></p>

      <div style="background-color: white; text-align: center; padding: 2rem; border-radius: 1rem">
        <p>Participant Link: <a href="/polls/<%= responses[0].randomURL %>/votes">www.myawesomefakedomain.com/polls/<%= responses[0].randomURL %>/votes</a></p>
        <p>Administration Link: <a href="/polls/<%= responses[0].randomURL %>/admin">www.myawesomefakedomain.com/polls/<%= responses[0].randomURL %>/admin</a></p>
      </div>
      <form id="newPoll" action="/polls/new" method="post" style="display:flex; padding: 5rem">

        <div style="text-align: left">
          <div class="form-group">
            <label for="email">Creator email:</label>
            <input type="email" class="form-control" id="email" value="<%= responses[0].creator_email %>" required>
          </div>
          <div class="form-group">
            <label for="name">Your Name*:</label>
            <input type="text" class="form-control" id="name" value="<%= responses[0].creator_name %>" required>
          </div>
          <div class="form-group">
            <label for="end">When should this poll end?*</label>
            <input type="date" class="form-control" id="end" value="<%= responses[0].date_created.toISOString().substring(0,10) %>" required>
          </div>
        </div>
        <div style="text-align: left; margin-left: 10rem;flex-grow: 2">
          <div style="flex-direction: column">
            <div class="form-group">
              <label for="question">What would you like to change the question to?*</label>
              <input type="text" class="form-control" id="question" value="<%= responses[0].text %>"required>
            </div>
            <div id="responses" class="options form-group">
              <label>Your selection of responses:</label><span> (You can also add optional descriptions)</span>
              <% let count = 1 %>
              <% responses.forEach((response) => { %>
                <div class="option" style="display:flex; flex-direction:row">
                  <input type="text" class="form-group form-control" id="option<%= response.id %>" value="<%= response.response_text %>" style="margin-right:2rem" required>
                  <input type="text" class="description form-group form-control" id="description<%= response.id %>" value="<%= response.description %>" style="margin-right:2rem">
                  <span><button class="btn btn-sm btn-danger" action="/polls/<%= response.randomURL %>/<%= response.response_id %> method="delete">Delete</button></span>
                </div>
              <% }) %>
            </div>
          <div style="display: flex; justify-content: space-between">
            <div>
              <button type="button" id="newOption" class="btn btn-info">&#x002B; Add Row</button>
              <button type="button" id="deleteOption" class="btn btn-info">- Delete Row</button>
            </div>
            <div>
              <button type="submit" id="endPoll" form="newPoll" class="btn btn-primary btn-secondary">End Poll Now</button>
              <button type="submit" id="deletePoll" form="newPoll" class="btn btn-primary btn-danger">Delete Poll</button>
              <button type="submit" id="updatePoll" form="newPoll" class="btn btn-primary" action="/polls/new" method="POST">Update Poll</button>
            </div>
            
          </div>
        </div>
      </form>
    <% } %>
    </div>
  </body>
</html>
