<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Votes Page</title>
    <% include ./partials/_head.ejs %>
    <script type="text/javascript" src="/scripts/vote.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
      #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
      #sortable li {
        margin: 0 3px 3px 3px;
        padding: 0.4em;
        padding-left: 1.5em;
        font-size: 1.4em;
        height: 5rem;
        cursor: grab;
      }
      #sortable li span { position: absolute; margin-left: -1.3em; }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
      } );
    </script>
  </head>
  <header>
    <% include ./partials/_nav.ejs %>
  </header>
  <body>
    <div class="jumbotron" style="margin: 5%; text-align: center">
      <h1><%= responses[0].text %></h1><br>
      <br>
      <ul id="sortable">
        <% if (!owner) { %>
          <% responses.forEach(response => { %>
            <div class="sortableContainer" id="<%= response.id %>">
              <li class="ui-state-default"><%= response.response_text %></li>
            </div>
          <% }) %>
        <% } else { %>
          <% responses.forEach(response => { %>
            <div class="sortableContainer" id="<%= response.id %>">
              <li class="ui-state-default"><%= response.response_text %></li>
              <span><button action="/polls/<%= responses[0].randomURL %>/delete">Delete</button></span>
              <span><button action="/polls/<%= responses[0].randomURL %>/update">Update</button></span>
            </div>
          <% }) %>
        <% } %>
      </ul>
      <br>
      <br>
      <button id="submitOrder" url="<%= responses[0].randomURL %>" type="submit" action="/polls/<%= responses[0].randomURL %>" method="put">Submit</button>
    </div>
  </body>
</html>
